extends ../common/layout

block content
  div #{type}文章
  form(action='/#{method}', method='post')
    if description
      input(type='hidden', name='originDescription', value='#{description}')
    div
      input(type='text', placeholder='标题', name='title', value='#{postTitle}')
    div
      input(type='text', placeholder='英文描述', name='description', value='#{description}')
    div
      textarea(name='content', placeholder='内容', style='width:50em;height:40em;') #{content}
    div
      input(type='submit', value='#{type}')