doctype html
html
  head
    meta(charset='utf-8')
    title #{type}文章
  body
    div #{type}文章
    form(action='/#{method}', method='post')
      if description
        input(type='hidden', name='originDescription', value='#{description}')
      div
        input(type='text', placeholder='标题', name='title', value='#{title}')
      div
        input(type='text', placeholder='英文描述', name='description', value='#{description}')
      div
        textarea(name='content', placeholder='内容', style='width:50em;height:40em;') #{content}
      div
        input(type='submit', value='#{type}')