doctype html
html
  head
    meta(charset='utf-8')
    link(rel='shortcut icon', href='#{staticPath}img/favicon.ico')

    if !title
      title CW Yeung
    else
      title #{title}
    
    //some common css
    link(rel='stylesheet', href='#{staticPath}css/common.css')
    //header css
    if isIndexPage
      link(rel='stylesheet', href='#{staticPath}css/header/indexpageheader.css')
    else
      link(rel='stylesheet', href='#{staticPath}css/header/subpageheader.css')

    //seajs & config
    script(src="#{staticPath}js/sea-modules/seajs/seajs/2.2.1/sea.js")
    script.
      seajs.config({
        base: '#{staticPath}js/sea-modules/',
        alias: {
          'jquery': 'jquery/jquery/2.1.0/jquery',
          '$': 'jquery/jquery/2.1.0/jquery',
          'jquery-debug': 'jquery/jquery/2.1.0/jquery-debug',
          '$-debug': 'jquery/jquery/2.1.0/jquery-debug',
        }
      });

    block head

  body
    div.wrapper
        header
          if isIndexPage
            h1 CW Yeung
              small.slogan &nbsp;努力不一定成功，可是不努力会很轻松哦
          else
            h1.post-page: a(href='/') &laquo; home
        
        div#main.main
          block content
        
        footer
          section.nav
            a(href='') Lab
            span &middot;
            a(href='') About
            span &middot;
            a(href='http://weibo.com/chenwery') Weibo
            span &middot;
            a(href='https://twitter.com/chenwery') Twitter
            span &middot;
            a(href='https://github.com/chenwery') Github
          section.cp
            |&copy;2014
            |Power by 
            a(href='http://expressjs.com') Express